@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  background: #000;
}

body {
  color: #fff;
  font-family: "Geist", Arial, sans-serif;
}

#app {
  width: 260px;
  height: 500px;
  margin: 0;
  padding: 10px;
  border: 0;
  outline: 0;
  background: #000;
}

#stats {
  display: none;
}

#stats span {
  color: #9281f7;
}

#game {
  display: block;
  width: 240px;
  height: 480px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: #000;
}
